In [ ]:
import os
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
import pandas as pd

BASE_DIR = '/content/drive/MyDrive/ALL/'
surprise = BASE_DIR+'SURPRISE/'
anger = BASE_DIR+'ANGER/'
joy = BASE_DIR+'JOY/'
sadness = BASE_DIR+'SADNESS/'
disgust = BASE_DIR+'DISGUST/'
fear = BASE_DIR+'FEAR/'

sur = os.listdir(surprise)
ang = os.listdir(anger)
jo = os.listdir(joy)
sad = os.listdir(sadness)
fe = os.listdir(fear)
dis = os.listdir(disgust)

df1 = pd.DataFrame()
df1['images']=[str(x) for x in sur]
df1['SURPRISE']=[1 for x in sur ]
df1['ANGER']=[0 for x in sur]
df1['JOY']=[0 for x in sur]
df1['SADNESS']=[0 for x in sur]
df1['DISGUST']=[0 for x in sur]
df1['FEAR']=[0 for x in sur]

df2 = pd.DataFrame()
df2['images']=[str(x) for x in ang]
df2['SURPRISE']=[0 for x in ang ]
df2['ANGER']=[1 for x in ang]
df2['JOY']=[0 for x in ang]
df2['SADNESS']=[0 for x in ang]
df2['DISGUST']=[0 for x in ang]
df2['FEAR']=[0 for x in ang]

df3 = pd.DataFrame()
df3['images']=[str(x) for x in jo]
df3['SURPRISE']=[0 for x in jo ]
df3['ANGER']=[0 for x in jo]
df3['JOY']=[1 for x in jo]
df3['SADNESS']=[0 for x in jo]
df3['DISGUST']=[0 for x in jo]
df3['FEAR']=[0 for x in jo]

df4 = pd.DataFrame()
df4['images']=[str(x) for x in sad]
df4['SURPRISE']=[0 for x in sad ]
df4['ANGER']=[0 for x in sad]
df4['JOY']=[0 for x in sad]
df4['SADNESS']=[1 for x in sad]
df4['DISGUST']=[0 for x in sad]
df4['FEAR']=[0 for x in sad]

df5 = pd.DataFrame()
df5['images']=[str(x) for x in dis]
df5['SURPRISE']=[0 for x in dis ]
df5['ANGER']=[0 for x in dis]
df5['JOY']=[0 for x in dis]
df5['SADNESS']=[0 for x in dis]
df5['DISGUST']=[1 for x in dis]
df5['FEAR']=[0 for x in dis]

df6 = pd.DataFrame()
df6['images']=[str(x) for x in fe]
df6['SURPRISE']=[0 for x in fe ]
df6['ANGER']=[0 for x in fe]
df6['JOY']=[0 for x in fe]
df6['SADNESS']=[0 for x in fe]
df6['DISGUST']=[0 for x in fe]
df6['FEAR']=[1 for x in fe]

#df.to_csv('files_path1.csv', header=None)

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5, df6])

In [ ]:
df

                           images  SURPRISE  ANGER  JOY  SADNESS  DISGUST  FEAR
0     10_Surprise.1_Left_30_0.jpg         1      0    0        0        0     0
1     10_Surprise.1_Left_30_1.jpg         1      0    0        0        0     0
2     10_Surprise.1_Left_30_2.jpg         1      0    0        0        0     0
3     10_Surprise.1_Left_30_3.jpg         1      0    0        0        0     0
4     10_Surprise.1_Left_30_4.jpg         1      0    0        0        0     0
...                           ...       ...    ...  ...      ...      ...   ...
1262      9_Fear.4_Right_30_4.jpg         0      0    0        0        0     1
1263      9_Fear.4_Right_30_5.jpg         0      0    0        0        0     1
1264      9_Fear.4_Right_30_6.jpg         0      0    0        0        0     1
1265      9_Fear.4_Right_30_8.jpg         0      0    0        0        0     1
1266      9_Fear.4_Right_30_9.jpg         0      0    0        0        0     1

[10102 rows x 7 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/RESEARCH DATA/Dataset/split/train/class.csv')